{% extends "layout.html" %}
{% block content %}

<div class="header-bar">

    <h1>Login</h1>

</div>

<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button style="margin-top: 10px;" class="button" type="submit">Login</button>
    </form>
    <p>Don't Have Account? <a href="{% url 'register' %}">Register</a></p>
</div>


{% endblock content %}